.para2005{
    font-size: 14px !important;
}

.h3_send{
    font-size: 35px !important;
}
.h3_rec{
    font-size: 27px !important;
}
.para2006{
	color: #d5018e !important;
    font-weight: bolder !important;
    font-size: 15px !important;
	overflow: hidden;
	text-overflow: ellipsis; 
}
.img25{
    width: 250px !important;
} 
