body{
	background-image:url('https://www.vecteezy.com/free-vector/crypto-background');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}
.btn1{
    border: none !important;
    border-radius: 5px !important;
    color: black !important;
    background-color: white !important;
}
.send_r{
    font-size: 20px !important;
    text-align: center !important;
}
.col10{
    cursor: pointer;
}
.para258{
	font-size:20px;
}
.row_0{
	height:60px !important;
}
.btn45{
	cursor:pointer;
}
.col13{   
    cursor: pointer;
}
.svg56{
	position: relative;
	top: -64px;
}
.svg1:hover{
    color: #f4a017 !important;
    transition-duration: 150ms;
}
.para10{
    text-transform: uppercase !important;
    font-weight: bold !important;
    font-size: 20px !important;
}
.input_address{
    border-radius: 7px !important;
}
.btn2{
    border: none !important;
    border-radius: 0px !important;
    color: black !important;
    font-size: 20px !important;
    background-color: white !important;
}

/* Button CSS Starts */
.btn2:hover{
    color: white !important;
    background: linear-gradient(-45deg,#d5008f , #d5008f, #d5008f, #f41798);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    transition-duration: 20ms !important;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Button CSS Ends */
.input1::placeholder { 
    color: white !important;
  }
  .para200{
    text-transform: uppercase !important;
    font-weight: bold !important;
    font-size: 22px !important;
    font-family: 'Gafata';
  }
  .para2002{
    font-family: 'Indie Flower';
    font-size: 20px !important;
  }
  .col20{
    cursor: pointer;
  }
  .col23{
	  padding-right:15px;
	  padding-left:15px;
  }	  .h4 {
		  height: 2rem !important;
	  }
  .para300{
    font-family: 'Indie Flower';
    font-size: 25px !important;
  }
.col21:hover{
    background-color: #f6931b !important;
    transition-duration: 200ms !important;
}
.col22:hover{
    background-color: #355c9d !important;
    transition-duration: 200ms !important;
}
.col23:hover{
    background-color: #bba132 !important;
    transition-duration: 200ms !important;
}
.col28:hover{
    background-color: #f36723 !important;
    transition-duration: 200ms !important;
}
.col30:hover{
    background-color: #f0b90d !important;
    transition-duration: 200ms !important;
}
.col31:hover{
    background-color: #0ac18c !important;
    transition-duration: 200ms !important;
}
.col32:hover{
	background-color: #2772c3 !important;
	transition-duration: 200ms !important;
}
.col33:hover{
	background-color: #d92f35 !important;
	transition-duration: 200ms !important;
}
.col34:hover{
	background-color: #e64041 !important;
	transition-duration: 200ms !important;
}
.col35:hover{
	background-color: #0033af !important;
	transition-duration: 200ms !important;
}
.col36:hover{
	background-color: #3c9cec !important;
	transition-duration: 200ms !important;
}
.col37:hover{
	background-color: #4494fc !important;
	transition-duration: 200ms !important;
}
.col38:hover{
	background-color: #393939 !important;
	transition-duration: 200ms !important;
}
.col380:hover{
	background-color: #c737f4 !important;
	transition-duration: 200ms !important;
}
.col381:hover{
	background-color: #3ab93b !important;
	transition-duration: 200ms !important;
}
.white1{
    color: white !important;
    font-weight: bold !important;
    text-align: center !important;
    margin-top: 13px !important;
}
.notwhite1{
    font-weight: bold !important;
    text-align: center !important;
    color: black !important;
    margin-top: 13px !important;
}
.notwhite2{
    font-family: 'Indie Flower';
    font-size: 20px !important;
    font-weight: bold !important;
    text-align: center !important;
    color: black !important;
    margin-top: 13px !important;
}
.white2{
    color: white !important;
    font-family: 'Indie Flower';
    font-size: 20px !important;
    font-weight: bold !important;
    text-align: center !important;
    margin-top: 13px !important;
}
/* Second */
.white3{
    color: white !important;
    font-weight: bold !important;
    text-align: center !important;
    margin-top: 13px !important;
}

.notwhite3{
    font-weight: bold !important;
    text-align: center !important;
    color: black !important;
    margin-top: 13px !important;
}

.notwhite4{
    font-family: 'Indie Flower';
    font-size: 20px !important;
    font-weight: bold !important;
    text-align: center !important;
    color: black !important;
    margin-top: 13px !important;
}
.white4{
    color: white !important;
    font-family: 'Indie Flower';
    font-size: 20px !important;
    font-weight: bold !important;
    text-align: center !important;
    margin-top: 13px !important;
}
/* Third */

.white5{
    color: white !important;
    font-weight: bold !important;
    text-align: center !important;
    margin-top: 13px !important;
}

.notwhite5{
    font-weight: bold !important;
    text-align: center !important;
    color: black !important;
    margin-top: 13px !important;
}


.notwhite6{
    font-family: 'Indie Flower';
    font-size: 20px !important;
    font-weight: bold !important;
    text-align: center !important;
    color: black !important;
    margin-top: 13px !important;
}
.white6{
    color: white !important;
    font-family: 'Indie Flower';
    font-size: 20px !important;
    font-weight: bold !important;
    text-align: center !important;
    margin-top: 13px !important;
}
/* Third */
.para3000{
    color: red !important;
    font-weight: bolder !important;
}
.navbar1{
	height:95px;
	background-color: white !important;
}
.span45{
    font-size: 10px !important;
    font-weight: bolder !important;
    color: rgb(6, 109, 6);
}
.navlink{
    font-size: 20px !important;
    color: black;
	font-weight: bolder !important;
}
.img25{
    width: 250px !important;
}

@media only screen and (max-width: 320px) {
    .navbar-toggler{
        position: relative !important;
        top: 0px !important;
        left: 129px !important;
    }
  }
#name2{
	font-size:22px;
}
#name2::-webkit-inner-spin-button, 
#name2::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

#name23{
font-size:22px;
}
#name23:focus{
	outline:none;
}
#name2:focus{
	outline:none;
}

#name23::-webkit-inner-spin-button, 
#name23::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}
.span560{
color:red !important;	
}
