.anchor_2{
    color: #3067f0 !important;
}
.input101{
	border-radius:0px !important;
	border-top:none !important;
	border-left:none !important;
	border-right:none !important;
}
.col23{
    background-color: #FBFCFE !important;
    border-radius: 4px !important;
}
.anchor_t {
	cursor:pointer;
	color: #d5008f !important;
	text-decoration:none !important;
}
